<div class="jumbotron">
		<h1>Welcome to my app!</h1>
		<p>Click here to <%= link_to "Sign up","#", class: "btn btn-primary" %>.</p>
		<p>If you are a existing member <%= link_to "Log in","#", class: "btn btn-info" %>
</div>